<%- include ("./partials/head") %>
<body>
    <main class="page-content" aria-label="Content">
        <div class="content">
            <a href="/writings">← Back to all writing</a>
            <div>
                <div class="card-body">
                    <h4 class="card-title"><%- writing.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%- writing.createdAt.toDateString() %>
                    </div>
                    <hr>
                    <div class="card-text mb-2"><%- writing.content%></div>
                    <a href="/writings/edit/<%- writing.id %>" class="btn btn-secondary">Edit</a>
                    <form action="/writings/<%- writing.id %>?_method=DELETE" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button></form>
                </div>
            </div>
        </div>
    </main>
    <%- include ("./partials/footer") %>
</body>

</html>

